This is a quote show page

<div class="show-quote">
	<%= render partial: "quotes/show_quote", locals: {quote: quote} %>
</div>

<div class='quote-comments'>
	<div id="comments-title">Comments</div>
	<%= render partial: "comments/index" %>
</div>