This is a quote show page
<div class='show-quote'>
	<%= @quote.content %>
	<% unless @quote.book.nil? %><%= @quote.book.title %><% end %>
	<% unless @quote.book.nil? %><%= @quote.author.name %><% end %>
	<%= @quote.user.goodreads_name %>
</div>
<div class='add-comment'>
	Add Comment
</div>

<div class='quote-comments'>
	Comments
</div>