<div class="users-bookclubs">
	<% if @bookclubs %>
		<ul>
		<% @bookclubs.each do |bookclub| %>
			<li id="<%=bookclub.id%>"><%= button_tag bookclub.name, id: bookclub.id %></li>
		<% end %>
		</ul>
	<% end%>
</div>