@import "style_guide";

.users-bookclubs {
	width: 20%;
	float: right;
	background-color: $users-bookclubs;
	

	p {
		margin-bottom: 0px;
		padding-bottom: 5px;
		text-align: center;
		border-bottom: 3px solid $main-background;
	}

	ul {
		text-align: center;
		list-style-type: none;
		padding: 0;
		border-radius: 10px;
		margin: 0px;


		li {
			padding: 1em 0;
			height: 100px;
			border-bottom: 3px solid $main-background;
			


			button {
				border: none;
				background-color: transparent;
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				
				font-size: 14px;
			}
		}
	}
}



div.bookclubs-all {

	width: 35%;
	float: left;
	background-color: $quote-background;

	ul {
		text-align: center;
		list-style-type: none;
		padding: 0;
		border-radius: 10px;
		margin: 0px;

		li {
			padding: 1em 0;
			height: 30px;
			border-bottom: 3px solid $main-background;
		


			button {
				border: none;
				background-color: transparent;
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				
				font-size: 14px;
			}

			button.bookclub-join {
				float: right;
				border: solid 2px black;
			}
		}
	}
}

form#new_bookclub {
	float:left;
	margin-left: 3px;
	width:45%;
	background-color: transparent;
	height: 250px;
	padding: 8px;

	label {
		display: block;
		color: white;
		
		font-size: 18px;
	}

	#submit {
		background-color: white;
		width: 400px;
		margin-top: 10px;
		
		font-size: 18px;
	}

	input#bookclub_name {

		height: 22px;
		width: 400px;
		border-radius: 6px;
		margin-bottom: 10px;
		

	}

	input#bookclub_description {

		height: 66px;
		width: 400px;
		border-radius: 6px;
		
		
	}


}




.ui-droppable {
 	background-color: $users-bookclubs;
 }
 .mouse-hover {
 	background-color: $hover-bookclubs;
 }

 .mouse-drop-true {
 	background-color: $bookclubs-add-quote;
 }

 .mouse-drop-false {
 	background-color: $bookclubs-fail-quote;
 }
