@import "style_guide";

 /* GLOBAL */

.container {
  margin-top: 70px;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizelegibility;
}

* {
  color: $main-font-color;
  font-family: $global-font;
}

body {
  background-color: $main-background;
  margin: 0;
}