@import "style_guide";

/* HEADER */

header {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: $header-background;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 3px;
}

/* LOGO */

div.logo {
  display: inline-block;
  margin-left: 1.6em;

  span {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-weight: 700;
    color: $logo-color;
    vertical-align: top;
    line-height: 38px;
  }

  span.munk {
    color: $logo-color-2;
  }

  img {
    height: 50px;
    margin: 0 0 0 6px;
  }

}


/* DASHBOARD */

.dashboard {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.dashboard nav { 
  position: relative;
  top: 7.25px;
}
.dashboard nav form {
  display: inline-block;

  input {
    border: none;
    background-color: transparent;
    width: 35px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    opacity: 0.4;
  }

  .nav-user {
    width: 80px;
    height: 100%;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
    margin-right: 1em;
    margin-bottom: 3px;
  }

  input:hover {
    opacity: 0.7;
  }
}

header form {
  display: inline-block;
}

select {
  -webkit-appearance: none;
  font: 10px $global-font;
  padding: 2px;
  text-align: center;
  color: #434242;
  background-color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 3px;
  height: 24px;
  size: 3;
  padding: 2px;
}



.search-bar {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 14px;
  left: 300px;

  input {
    border: none;

    width: 300px;
    border-radius: 3px;
    background-color: lightgrey;
    opacity: 0.5;
    height: 24px;
  }

  input[type='submit'] {
    border: none;
    background-color: transparent;
    width: 20px;
    height: auto;
    text-align: center;
    cursor: pointer;
    opacity: 0.4;
  }

  .search {
    background: url($icon-search) no-repeat center;
    background-size: contain;
    margin-left: 2px;
  }

  .clear-search {
    background: url($icon-clear-search) no-repeat center;
    background-size: contain;
  }
}

.username {
  position: absolute;
  top: 2px;
  right: 235px;
  width: 280px;

  p {
    margin: 0px;
    padding: 0px;
    text-align: right;
  }

}

.nav-bookclubs {
  background: url($icon-bookclubs) no-repeat center;
}

.nav-notebook {
  background: url($icon-notebook) no-repeat center;
}

.nav-public {
  background: url($icon-public) no-repeat center;
}

.nav-signout {
  background: url($icon-signout) no-repeat center; 

}

input.nav-signout {
  border-left: 2px solid black;
  margin-left: 20px;
}

.nav-favorites {
  background: url($icon-like-quote) no-repeat center; 
}

.nav-signin {
  position: relative;
  top: -5px;
  margin: auto;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: url($icon-signin) no-repeat center;
}
