@import "style_guide";

/* QUOTE */

div.quote {
  border: 3px $quote-border solid;
  border-radius: 5px;
  margin: 0.5em 0;
  background-color: $quote-background;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding: 4px;
  padding-bottom: 30px;
}

div.quote a {
	text-decoration: none;
	color: $main-background;
	
}

.search-user {
	position: absolute;
	left: 2px;
	bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

a.search-author{
	margin-left: 60px;
}

.search-title {
	font-style:italic;
}

.content {
	font-size: 12px;
	margin-bottom: 12px;
	margin-left: 10px;
}

div.quote-options {
	position: absolute;
	right: 2px;
	bottom: 0px;
		
	button {
	    border: none;
	    margin-left: 10px;
	    margin-top: 5px;
	    background-color: transparent;
	    width: 15px;
	    height: 15px;
	    vertical-align: bottom;
	    cursor: pointer;
	    outline: none;
	    opacity: 0.4;
	}

	button:hover {
    	opacity: 0.7;
  	}

	input {
	    border: none;
	    margin-left: 10px;
	    margin-top: 5px;
	    background-color: transparent;
	    width: 15px;
	    height: 15px;
	    vertical-align: bottom;
	    cursor: pointer;
	    outline: none;
	    opacity: 0.4;		
	}

	input:hover {
		opacity: 0.7;
	}

}

.share-quote {
	background: url($icon-share-quote) no-repeat center;
    background-size: contain;
}

.show-quote {
	background: url($icon-show-quote) no-repeat center;
    background-size: contain;
}

.add-comment {
	background: url($icon-comment) no-repeat center;
    background-size: contain;
}

.like-quote {
	background: url($icon-like-quote) no-repeat center;
    background-size: contain;	
}

.unlike-quote {
	background: url($icon-unlike-quote) no-repeat center;
    background-size: contain;	
}

div.quote-options > * , .show-quote {
	display: inline-block;
	border: none;  /* If your icon IS the button */
	color: transparent;  /* If you don't want the button text to show up */
}
