//// Set SASS variables here ////

// Colors
$main-background : rgba(53, 156, 138, 0.7);;
$header-background : white;
$header-bottom-border : rgba(53, 156, 138, 1.0);
$main-font-color : black;
$quote-border : gray;
$quote-background : white;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans);